<!DOCTYPE html>
<html>
<head>
      
  <link rel="stylesheet" href="cx.css">
  <script src="{{ url_for('static', filename='js/side_panel.js') }}" defer></script>
  <script src="{{ url_for('static', filename='js/main.js') }}" defer></script>
  <title>ML/DL</title>
</head>

<body class="body">
  <h1 class="h1" id="output">MS20s</h1>
  <p class="p">/\/\______________________________________________________/\/\</p>
  <button class="button1" id="toggleBtn">MS(wl)Transformer_form</button>

  <div class="menu-pad" id="menuPad">
    <h2 class="h2">X_Features are in this field</h2>
    
      <p class="p3">
        The LTM will understand my final formula which is claculating the behaviour of the lowest low mean in every range in market structure .
      </p>
      <p class="p3">
        # Legend:
          - nn = neuralnetworks
          - x = input 
           w = weights(the importance of the feature )
        `	b = bais
          alpha = learning rate line control 
        current change = change 1 - change 2 / change 1 * 100
        cx7 = current change approxima 
        vol_c = volume(current)
        fibb7 = 0.1 = 1 * 0.01 / 7
      </p>
      <p class="p3">
        # Formula: 
        cx7 =  (0.1 * cx7  /  vol_current) * 7 = ncx7 = ax @  wx + b =  loss (softmax)
        Dot product the means :
        [[w1,w2,w3,w4].[w5.w6.w7(b)]] = [[cx1,cx2,cx3,cx4].[cx5,cx6,cx7(b)]]
        cx7nn = nx @nw + nb + Alpha(learning_rate_line)
      </p>
      <p class="p3">
        The tensors window that will be analyzed by nns :
        [[change((1+1)*10))], i++] *24000           ' -----/.ittaration(loop)'

        cls based on condition of the regrassaor= 0 , 1 , 2

        DQN : 
        nns = x @w +b = loss .back(f)
        nns = nx @ nw +nb +alpha = decide
        **And this is my first Transformer model with attention ----> hidden layers ------> multi head ---->cls -----> playing.**
      </p>
            
    
  </div>

<button class="back_button" onclick="window.location.href='/stars'">Back to Main Menu</button>
  <p class="p">/\/\______________________________________________________/\/\</p>
  <p2 class="p2">MS.SYS FOR MACHINE INTEL.2025.5</p2>
</body>
</html>